.banner,
.banner .carousel-inner .item {
    width: 100%;
}

.software .titleTop,
.media .titleTop,
.partners .titleTop {
    text-align: center;
    margin: 55px auto;
    color: #0189db;
}

.software .titleTop h3,
.media .titleTop h3,
.partners .titleTop h3 {
    font-size: 32px;
    font-weight: bold;

}

.software .titleTop span,
.media .titleTop span,
.partners .titleTop span {
    font-size: 24px;
}

.software .softwareCon li {
    width: 25%;
    float: left;
    padding: 0 50px;
    text-align: center;
    box-sizing: border-box;
}

.software .softwareCon li h5 {
    font-size: 20px;
    color: #333333;
    line-height: 1.3;
    margin-bottom: 20px;
}

.software .softwareCon li img {
    width: 70px;
    height: 70px;
}

.software .softwareCon li a {
    display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    border-radius: 31px;
    text-align: center;
    color: #0189db;
    border: 1px solid #0189db;
    font-size: 16px;
    margin: 20px auto;
}

.software .softwareCon li a:hover {
    color: #fff;
    background-color: #0189db;
}

.software .softwareCon li p {
    font-size: 12px;
    color: #666666;
    text-align: left;
    text-overflow: -o-ellipsis-lastline;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

}

.software .more {
    font-size: 24px;
    text-align: center;
    margin-top: 40px;

}

.software .more a {
    color: #898989;
    width: 200px;
    display: inline-block;
    width: 200px;
    height: 59px;
    line-height: 59px;
    border: 1px solid #898989;
    border-radius: 10px;
}

.mediacon {
    background: url("../images/mediacon_bg.png") no-repeat;
    background-size: 100% 100%;
    padding: 60px 0 30px;
}

.mediaconBox {
    border-top: 1px solid #ffffff;
    position: relative;
}

.mediaconBox .more {
    position: absolute;
    right: 0;
    top: -40px;
    color: #666666;
    font-size: 14px;
    cursor: pointer;
}

.mediaMain {
    margin-top: 30px;

}

.mediaMain .l,
.mediaMain .r {
    display: inline-block;
}

.mediaMain .l {
    width: 640px;
    vertical-align: top;
}

.mediaMain .l .time {
    font-size: 14px;
    color: #0189db;
    margin-bottom: 25px;
}

.mediaMain .l .title {
    color: #666666;
    font-size: 20px;
    margin-bottom: 20px;
}

.mediaMain .l .info {
    text-indent: 2em;
    font-size: 16px;
    color: #666666;
    line-height: 40px;
}

.mediaMain .r {
    padding-left: 50px;
    width: 560px;
    box-sizing: border-box;
}

.mediaMain .r img {
    width: 100%;
}

.partnersCon li {
    width: 25%;
    box-sizing: border-box;
    margin-bottom: 64px;
    color: #292929;
    font-size: 16px;
}

.partnersCon li.pl {
    padding-left: 29px;
}

.partnersCon li.pr {
    padding-right: 29px;

}

.partnersCon li.pv {
    padding: 0 29px;
}

.partnersIfon {
    width: 100%;
    background-color: #e5e5e5;
    height: 136px;
    text-align: center;
}

.partnersIfon img {
    display: inline-block;
    width: 71px;
    height: 70px;
    margin-top: 14px;
}

.partnersIfon p {
    margin-bottom: 0;
    margin-top: 19px;
    line-height: 1
}

.partnersIfon.lh100 p {
    padding-top: 55px;
    margin-top: 0;
}

.carousel-indicators .active {
    background-color: #ff0000;
    border: none;
}

.carousel-indicators li {
    background-color: #fff;
}

.mediacon .carousel .page {
    margin-top: 25px;
    text-align: center;
}

.mediacon .carousel .page span {
    display: inline-block;
    width: 37px;
    height: 37px;
    cursor: pointer;
}

.mediacon .carousel .page .prev {
    background: url(../images/page_prev.png) no-repeat;
    background-size: cover;
}

.mediacon .carousel .page .next {
    background: url(../images/page_next.png) no-repeat;
    background-size: cover;
    margin-left: 50px;
}
